In [2]:
import nltk
import pandas as pd
import pickle
from textaugment import Word2vec
from textaugment import EDA
nltk.download('wordnet')
from textaugment import Wordnet

In [1]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

In [8]:
wv = pickle.load(open('/home/aschharwood/notebooks/NST/nst_ml/eda/google_news_gensim.pkl', 'rb'))

In [11]:
#didn't end of using this one because it was much slower and didnt perform any better than wordnet
t = Word2vec(model=wv)

In [21]:
eda = EDA()

In [ ]:
t = Wordnet(n=True)

# Load text data

In [14]:
df = pd.read_csv('/home/aschharwood/notebooks/NST/nst_ml/data/master_text/boko_haram_model/bh_model_acled_nst_12.18.20.csv')

In [15]:
df.head()

,Unnamed: 0,text,boko haram,tokens,source
0,0,Boko Haram jihadists have raided a military ba...,Boko Haram,insurgents raid military base borno kill injur...,nst
1,1,"Mudiaga Affe, Calabar No fewer than two perso...",Boko Haram,die injure cameroonian gendarme invade nigeria...,nst
2,2,Suspected militants have kidnapped four Britis...,Boko Haram,briton kidnap delta suspected militant kidnap ...,nst
3,3,"ADVERTISEMENT Abductors of Adetutu Adebanjo, ...",Boko Haram,kidnappers kogi polytechnic student demand ran...,nst
4,4,Kindly Share This Story: By Marie-Therese Nan...,Boko Haram,dead 30 house destroy plateau attack kindly sh...,nst

In [42]:
nst = df[df['source']=='nst']

In [47]:
bh = nst[nst['boko haram']== 'Boko Haram']

In [50]:
bh['tokens_word_net_aug'] = nst['tokens'].apply(lambda x: t.augment(str(x)))

<ipython-input-50-ac281f0d448f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bh['tokens_word_net_aug'] = nst['tokens'].apply(lambda x: t.augment(str(x)))

bh.head()

In [51]:
bh

,Unnamed: 0,text,boko haram,tokens,source,tokens_word_net_aug
0,0,Boko Haram jihadists have raided a military ba...,Boko Haram,insurgents raid military base borno kill injur...,nst,rebel raid military theme borno kill injure bo...
1,1,"Mudiaga Affe, Calabar No fewer than two perso...",Boko Haram,die injure cameroonian gendarme invade nigeria...,nst,die injure cameroonian gendarme invade nigeria...
2,2,Suspected militants have kidnapped four Britis...,Boko Haram,briton kidnap delta suspected militant kidnap ...,nst,brit kidnap delta suspected militant kidnap br...
3,3,"ADVERTISEMENT Abductors of Adetutu Adebanjo, ...",Boko Haram,kidnappers kogi polytechnic student demand ran...,nst,kidnaper kogi polytechnic bookman need ransom ...
4,4,Kindly Share This Story: By Marie-Therese Nan...,Boko Haram,dead 30 house destroy plateau attack kindly sh...,nst,dead 30 house destroy plateau attack kindly sh...
...,...,...,...,...,...,...
10299,116637,: Umar Muhammed Nigerian Army | credits: Gok...,Boko Haram,troops kill 150 b’haram fighter rescue 36 umar...,nst,troops kill 150 b’haram scrapper rescue 36 uma...
10305,116643,Michael Olugbode What could have been a m...,Boko Haram,suicide bombers die car explosion michael...,nst,self-destruction hoagie die car explosion mich...
10315,116653,"Yaounde, Cameroon (CNN)Ten civilians and a sol...",Boko Haram,boko haram kill 5 cameroon yaounde cameroon cn...,nst,boko haram kill 5 cameroon yaounde cameroon cn...
10317,116655,Nigerian Army Michael Olugbode The Nigerian ...,Boko Haram,boko haram ambush convoy kill officer soldier ...,nst,boko haram ambush convoy kill officer soldier ...
10333,116671,Two female suicide bombers were killed in Nort...,Boko Haram,2 teenage girl attempt suicide attack kill fem...,nst,2 teenage girl effort suicide tone-beginning k...

In [53]:
bh_aug = bh[['tokens_word_net_aug', 'boko haram']]

In [57]:
bh_aug['source'] = 'nst_aug_word_net'

<ipython-input-57-4d0d590da08e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bh_aug['source'] = 'nst_aug_word_net'

In [58]:
bh_aug

,tokens_word_net_aug,boko haram,source
0,rebel raid military theme borno kill injure bo...,Boko Haram,nst_aug_word_net
1,die injure cameroonian gendarme invade nigeria...,Boko Haram,nst_aug_word_net
2,brit kidnap delta suspected militant kidnap br...,Boko Haram,nst_aug_word_net
3,kidnaper kogi polytechnic bookman need ransom ...,Boko Haram,nst_aug_word_net
4,dead 30 house destroy plateau attack kindly sh...,Boko Haram,nst_aug_word_net
...,...,...,...
10299,troops kill 150 b’haram scrapper rescue 36 uma...,Boko Haram,nst_aug_word_net
10305,self-destruction hoagie die car explosion mich...,Boko Haram,nst_aug_word_net
10315,boko haram kill 5 cameroon yaounde cameroon cn...,Boko Haram,nst_aug_word_net
10317,boko haram ambush convoy kill officer soldier ...,Boko Haram,nst_aug_word_net
10333,2 teenage girl effort suicide tone-beginning k...,Boko Haram,nst_aug_word_net

In [59]:
bh_aug['tokens_word_net_syn_replace_level_2'] = bh_aug['tokens_word_net_aug'].apply(lambda x: eda.synonym_replacement(str(x), int(len(str(x))*.5)))

<ipython-input-59-d73047f95032>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bh_aug['tokens_word_net_syn_replace_level_2'] = bh_aug['tokens_word_net_aug'].apply(lambda x: eda.synonym_replacement(str(x), int(len(str(x))*.5)))

In [61]:
bh_aug_level_2 = bh_aug[['boko haram', 'tokens_word_net_syn_replace_level_2']]

In [63]:
bh_aug_level_2['source'] = 'nst_aug_syn_repl_level_2'

<ipython-input-63-f8a551d33cb4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bh_aug_level_2['source'] = 'nst_aug_syn_repl_level_2'

In [65]:
bh['nst_syn_repl'] = bh['tokens'].apply(lambda x: eda.synonym_replacement(str(x), int(len(str(x))*.5)))

<ipython-input-65-0177dfc36e06>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bh['nst_syn_repl'] = bh['tokens'].apply(lambda x: eda.synonym_replacement(str(x), int(len(str(x))*.5)))

In [67]:
bh_syn_repl = bh[['boko haram', 'nst_syn_repl']]

In [69]:
bh_syn_repl['source'] = 'nst_syn_repl'

<ipython-input-69-05feced6b943>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bh_syn_repl['source'] = 'nst_syn_repl'

In [71]:
bh_orig = bh[['tokens', 'boko haram', 'source']]

In [72]:
#for final dataset
bh_orig

                                                  tokens  boko haram source
0      insurgents raid military base borno kill injur...  Boko Haram    nst
1      die injure cameroonian gendarme invade nigeria...  Boko Haram    nst
2      briton kidnap delta suspected militant kidnap ...  Boko Haram    nst
3      kidnappers kogi polytechnic student demand ran...  Boko Haram    nst
4      dead 30 house destroy plateau attack kindly sh...  Boko Haram    nst
...                                                  ...         ...    ...
10299  troops kill 150 b’haram fighter rescue 36 umar...  Boko Haram    nst
10305  suicide bombers die car explosion      michael...  Boko Haram    nst
10315  boko haram kill 5 cameroon yaounde cameroon cn...  Boko Haram    nst
10317  boko haram ambush convoy kill officer soldier ...  Boko Haram    nst
10333  2 teenage girl attempt suicide attack kill fem...  Boko Haram    nst

[3316 rows x 3 columns]

In [74]:
bh_aug_2 = bh_aug[['tokens_word_net_aug', 'boko haram', 'source']]

In [78]:
#for final data
bh_aug_2.rename(columns={'tokens_word_net_aug': 'tokens'}, inplace=True)

/anaconda/lib/python3.8/site-packages/pandas/core/frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [79]:
bh_aug_2

,tokens,boko haram,source
0,rebel raid military theme borno kill injure bo...,Boko Haram,nst_aug_word_net
1,die injure cameroonian gendarme invade nigeria...,Boko Haram,nst_aug_word_net
2,brit kidnap delta suspected militant kidnap br...,Boko Haram,nst_aug_word_net
3,kidnaper kogi polytechnic bookman need ransom ...,Boko Haram,nst_aug_word_net
4,dead 30 house destroy plateau attack kindly sh...,Boko Haram,nst_aug_word_net
...,...,...,...
10299,troops kill 150 b’haram scrapper rescue 36 uma...,Boko Haram,nst_aug_word_net
10305,self-destruction hoagie die car explosion mich...,Boko Haram,nst_aug_word_net
10315,boko haram kill 5 cameroon yaounde cameroon cn...,Boko Haram,nst_aug_word_net
10317,boko haram ambush convoy kill officer soldier ...,Boko Haram,nst_aug_word_net
10333,2 teenage girl effort suicide tone-beginning k...,Boko Haram,nst_aug_word_net

In [80]:
#to add to final data
bh_aug_level_2.rename(columns={'tokens_word_net_syn_replace_level_2': 'tokens'}, inplace=True)

/anaconda/lib/python3.8/site-packages/pandas/core/frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [81]:
bh_aug_level_2

,boko haram,tokens,source
0,Boko Haram,rise foray armed forces musical theme borno bo...,nst_aug_syn_repl_level_2
1,Boko Haram,conk hurt cameroonian gendarme overrun nigerie...,nst_aug_syn_repl_level_2
2,Boko Haram,briton snatch delta mistrust war ridden snatch...,nst_aug_syn_repl_level_2
3,Boko Haram,abductor kogi polytechnic institute scholar ne...,nst_aug_syn_repl_level_2
4,Boko Haram,suddenly xxx firm destruct tableland tone begi...,nst_aug_syn_repl_level_2
...,...,...,...
10299,Boko Haram,scout troop vote out cl b’haram belligerent de...,nst_aug_syn_repl_level_2
10305,Boko Haram,self annihilation italian sandwich die out mac...,nst_aug_syn_repl_level_2
10315,Boko Haram,boko haram belt down quint republic of cameroo...,nst_aug_syn_repl_level_2
10317,Boko Haram,boko haram lie in wait convoy drink down polic...,nst_aug_syn_repl_level_2
10333,Boko Haram,teenaged young lady drive felo de se tone beg...,nst_aug_syn_repl_level_2

In [84]:
bh_syn_repl.rename(columns={'nst_syn_repl': 'tokens'}, inplace=True)

/anaconda/lib/python3.8/site-packages/pandas/core/frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [86]:
bh_final = pd.concat([bh_orig, bh_aug_2, bh_aug_level_2, bh_syn_repl ])

In [87]:
bh_final.shape

(13264, 3)

In [90]:
no_bh = df[df['boko haram']!= 'Boko Haram']

In [91]:
no_bh

,Unnamed: 0,text,boko haram,tokens,source
13,13,"ADVERTISEMENT The Nigerian Air Force, NAF, sa...",None,nigeria air force bomb boko haram base kill of...,nst
17,17,"Friday Olokor, Jos Two persons were said to h...",None,die soldier youth clash plateau friday olokor ...,nst
28,28,"Simon Utebor, Yenagoa A policeman identified ...",None,policeman shoot ss3 pupil dead bayelsa simon u...,nst
30,30,ADVERTISEMENT The Nigerian Army on Saturday s...,None,troops destroy boko haram grain market borno a...,nst
31,31,ADVERTISEMENT Two suspected female Boko Haram...,None,female suicide bomber strike adamawa advertise...,nst
...,...,...,...,...,...
10345,116683,"An alleged member of a cult group, Aye confrat...",None,shoot dead 2 house raze anambra cult clash all...,nst
10346,116684,The Police Special Anti Robbery Squad (SARS) h...,None,sars kill 1 injure robbery gang member police ...,nst
10347,116685,"Armed men num­bering about 16, on Sunday, in­v...",None,armed man invade anambra police station wind d...,nst
10348,116686,"Home | News | General | Two shot dead, another...",None,shoot dead throw gunman attack anambra village...,nst
10349,116687,"Troops of 151 Task Force Battalion, 21 Brigade...",None,troops ambush kill escape boko haram terrorist...,nst

In [93]:
bh_final.to_csv('boko_haram_only_nst_augmented_data_12.18.20.csv')

In [105]:
bh_final

,tokens,boko haram,source
0,insurgents raid military base borno kill injur...,Boko Haram,nst
1,die injure cameroonian gendarme invade nigeria...,Boko Haram,nst
2,briton kidnap delta suspected militant kidnap ...,Boko Haram,nst
3,kidnappers kogi polytechnic student demand ran...,Boko Haram,nst
4,dead 30 house destroy plateau attack kindly sh...,Boko Haram,nst
...,...,...,...
10299,scout troop belt down cl b’haram attack aircra...,Boko Haram,nst_syn_repl
10305,felo de se poor boy give out cable car detonat...,Boko Haram,nst_syn_repl
10315,boko haram down five republic of cameroon capi...,Boko Haram,nst_syn_repl
10317,boko haram lying in wait convoy bolt down poli...,Boko Haram,nst_syn_repl
10333,two teen young lady endeavor self annihilation...,Boko Haram,nst_syn_repl

In [96]:
no_bh_3000 = no_bh[:3000]

In [98]:
no_bh_3000['tokens_syn_repl'] = no_bh_3000['tokens'].apply(lambda x: eda.synonym_replacement(str(x), int(len(str(x))*.5)))

<ipython-input-98-2ab41801415f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_bh_3000['tokens_syn_repl'] = no_bh_3000['tokens'].apply(lambda x: eda.synonym_replacement(str(x), int(len(str(x))*.5)))

In [99]:
no_bh_6000 = no_bh[3000:]

In [100]:
no_bh_6000['tokens_augment_word_net'] = no_bh_6000['tokens'].apply(lambda x: t.augment(str(x)))

<ipython-input-100-52540d075e46>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_bh_6000['tokens_augment_word_net'] = no_bh_6000['tokens'].apply(lambda x: t.augment(str(x)))

In [102]:
no_bh_3000 = no_bh_3000[['tokens_syn_repl', 'boko haram']]

In [103]:
no_bh_3000['source'] = 'nst_no_bh_syn_repl'

<ipython-input-103-0485f07ee77e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_bh_3000['source'] = 'nst_no_bh_syn_repl'

In [104]:
no_bh_3000

,tokens_syn_repl,boko haram,source
13,federal republic of nigeria transmit coerce bo...,None,nst_no_bh_syn_repl
17,cash in ones chips soldier young person clango...,None,nst_no_bh_syn_repl
28,police officer dash ss3 scholarly person utter...,None,nst_no_bh_syn_repl
30,promenade put down boko haram texture market p...,None,nst_no_bh_syn_repl
31,female person self destruction torpedo excise ...,None,nst_no_bh_syn_repl
...,...,...,...
4511,gunslinger defeat bayelsa lg conjugation honch...,None,nst_no_bh_syn_repl
4512,benue vote down physical structure girl patrol...,None,nst_no_bh_syn_repl
4513,drover onrush senator imoke biotic community o...,None,nst_no_bh_syn_repl
4515,herder sacking akure local anaesthetic governi...,None,nst_no_bh_syn_repl
4516,twenty two die out multiple felo de se dud att...,None,nst_no_bh_syn_repl

In [107]:
no_bh_6000 = no_bh_6000[['tokens_augment_word_net', 'boko haram']]

In [108]:
no_bh_6000['source'] = 'nst_no_bh_augment_word_net'

<ipython-input-108-bf90360098c7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  no_bh_6000['source'] = 'nst_no_bh_augment_word_net'

In [112]:
no_bh_6000.rename(columns={'tokens_augment_word_net': 'tokens'}, inplace=True)

/anaconda/lib/python3.8/site-packages/pandas/core/frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [114]:
no_bh_3000.rename(columns={'tokens_syn_repl': 'tokens'}, inplace=True)

/anaconda/lib/python3.8/site-packages/pandas/core/frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [116]:
no_bh_final = pd.concat([no_bh_3000, no_bh_6000])

In [122]:
no_bh_final = no_bh_final.sample(frac=.86)

In [124]:
no_bh = no_bh[['tokens', 'boko haram', 'source']]

In [126]:
no_bh_final = pd.concat([no_bh, no_bh_final])

In [127]:
no_bh_final

,tokens,boko haram,source
13,nigeria air force bomb boko haram base kill of...,None,nst
17,die soldier youth clash plateau friday olokor ...,None,nst
28,policeman shoot ss3 pupil dead bayelsa simon u...,None,nst
30,troops destroy boko haram grain market borno a...,None,nst
31,female suicide bomber strike adamawa advertise...,None,nst
...,...,...,...
1427,founder constabulary soldier rip gasconade dis...,None,nst_no_bh_syn_repl
8122,robbers kill guard bargain 150 laptop ondo sch...,None,nst_no_bh_augment_word_net
1975,trine wet nurse council film director ii nobbl...,None,nst_no_bh_syn_repl
8141,polish sailors kidnapped pirates nigerian coas...,None,nst_no_bh_augment_word_net
8181,gunmen kill 12 villager nasarawa related news ...,None,nst_no_bh_augment_word_net

In [128]:
bh_final

,tokens,boko haram,source
0,insurgents raid military base borno kill injur...,Boko Haram,nst
1,die injure cameroonian gendarme invade nigeria...,Boko Haram,nst
2,briton kidnap delta suspected militant kidnap ...,Boko Haram,nst
3,kidnappers kogi polytechnic student demand ran...,Boko Haram,nst
4,dead 30 house destroy plateau attack kindly sh...,Boko Haram,nst
...,...,...,...
10299,scout troop belt down cl b’haram attack aircra...,Boko Haram,nst_syn_repl
10305,felo de se poor boy give out cable car detonat...,Boko Haram,nst_syn_repl
10315,boko haram down five republic of cameroon capi...,Boko Haram,nst_syn_repl
10317,boko haram lying in wait convoy bolt down poli...,Boko Haram,nst_syn_repl
10333,two teen young lady endeavor self annihilation...,Boko Haram,nst_syn_repl

In [129]:
bh_no_bh_combined = pd.concat([bh_final, no_bh_final])

In [131]:
bh_no_bh_combined['tokens_syn_repl_70_percent'] = bh_no_bh_combined['tokens'].apply(lambda x: eda.synonym_replacement(str(x), int(len(str(x))*.7)))

In [132]:
bh_no_bh_combined

,tokens,boko haram,source,tokens_syn_repl_70_percent
0,insurgents raid military base borno kill injur...,Boko Haram,nst,guerilla foray into armed forces basal borno v...
1,die injure cameroonian gendarme invade nigeria...,Boko Haram,nst,pop off offend cameroonian gendarme intrude on...
2,briton kidnap delta suspected militant kidnap ...,Boko Haram,nst,britisher nobble delta suspect competitive nob...
3,kidnappers kogi polytechnic student demand ran...,Boko Haram,nst,kidnaper kogi engineering school scholar ask r...
4,dead 30 house destroy plateau attack kindly sh...,Boko Haram,nst,bushed xxx put up demolish tableland approach ...
...,...,...,...,...
1427,founder constabulary soldier rip gasconade dis...,None,nst_no_bh_syn_repl,fall flat law soldier rent shoot a line resist...
8122,robbers kill guard bargain 150 laptop ondo sch...,None,nst_no_bh_augment_word_net,robber toss off safeguard dicker one hundred f...
1975,trine wet nurse council film director ii nobbl...,None,nst_no_bh_syn_repl,tierce crocked harbour council motion picture ...
8141,polish sailors kidnapped pirates nigerian coas...,None,nst_no_bh_augment_word_net,polish up straw hat snatch sea rover nigerien ...
8181,gunmen kill 12 villager nasarawa related news ...,None,nst_no_bh_augment_word_net,triggerman vote out dozen villager nasarawa re...

In [133]:
bh_no_bh_new = bh_no_bh_combined[['tokens_syn_repl_70_percent', 'boko haram']]
bh_no_bh_new['source'] = 'nst_complete_syn_repl'

<ipython-input-133-818d9582ee6d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bh_no_bh_new['source'] = 'nst_complete_syn_repl'

In [134]:
bh_no_bh_new.rename(columns={'tokens_syn_repl_70_percent': 'tokens'}, inplace=True)

/anaconda/lib/python3.8/site-packages/pandas/core/frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [139]:
v3_combined = pd.concat([bh_no_bh_new, bh_no_bh_combined[['tokens', 'boko haram', 'source']]])

In [142]:
acled = df[df['source']=='acled']

In [143]:
acled

,Unnamed: 0,text,boko haram,tokens,source
10350,4,"On 21 November 2020, an ambulance struck an IE...",Boko Haram,21 november 2020 ambulance strike ied bosso di...,acled
10351,6,"On 21 November 2020, suspected ISWAP or Boko H...",Boko Haram,21 november 2020 suspect iswap boko haram jas ...,acled
10352,36,"On 19 November 2020, the military forces ambus...",Boko Haram,19 november 2020 military force ambush boko ha...,acled
10353,37,"On 19 November 2020, Boko Haram fighters kille...",Boko Haram,19 november 2020 boko haram fighter kill behea...,acled
10354,39,"Looting: On 19 November 2020, suspected Boko H...",Boko Haram,looting 19 november 2020 suspect boko haram fi...,acled
...,...,...,...,...,...
15059,18882,"28 April, on or before. Military forces captur...",Boko Haram,28 april military force capture fulani suspect...,acled
15060,18916,"25 April. Fulanis attack Tse-Umenge, Mbadwen c...",Boko Haram,25 april fulanis attack tse umenge mbadwen cou...,acled
15061,18942,"24 April. Fulanis attack Tse-Umenge, Mbadwen c...",Boko Haram,24 april fulanis attack tse umenge mbadwen cou...,acled
15062,37660,"On 4 January 2011, a riot broke out at Jimeta ...",Boko Haram,4 january 2011 riot break jimeta prison comple...,acled
15063,38756,"On 30 July 2009, the fourth day of an ongoing ...",Boko Haram,30 july 2009 4 day ongoing uprising radical is...,acled

In [144]:
acled = acled[['tokens', 'boko haram', 'source']]

In [145]:
acled

                                                  tokens  boko haram source
10350  21 november 2020 ambulance strike ied bosso di...  Boko Haram  acled
10351  21 november 2020 suspect iswap boko haram jas ...  Boko Haram  acled
10352  19 november 2020 military force ambush boko ha...  Boko Haram  acled
10353  19 november 2020 boko haram fighter kill behea...  Boko Haram  acled
10354  looting 19 november 2020 suspect boko haram fi...  Boko Haram  acled
...                                                  ...         ...    ...
15059  28 april military force capture fulani suspect...  Boko Haram  acled
15060  25 april fulanis attack tse umenge mbadwen cou...  Boko Haram  acled
15061  24 april fulanis attack tse umenge mbadwen cou...  Boko Haram  acled
15062  4 january 2011 riot break jimeta prison comple...  Boko Haram  acled
15063  30 july 2009 4 day ongoing uprising radical is...  Boko Haram  acled

[4714 rows x 3 columns]

In [147]:
final_data_bh = pd.concat([acled, v3_combined])

In [148]:
final_data_bh.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57408 entries, 10350 to 8181
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tokens      57391 non-null  object
 1   boko haram  57360 non-null  object
 2   source      57408 non-null  object
dtypes: object(3)
memory usage: 1.8+ MB

In [150]:
final_data_bh.duplicated(subset=['tokens']).sum()

450

In [151]:
final_data_bh.drop_duplicates(subset=['tokens'], inplace = True)

In [153]:
final_data_bh['source'].value_counts()

nst_complete_syn_repl         26323
nst                           10334
acled                          4324
nst_no_bh_augment_word_net     3437
nst_aug_syn_repl_level_2       3316
nst_syn_repl                   3316
nst_aug_word_net               3314
nst_no_bh_syn_repl             2594
Name: source, dtype: int64

In [155]:
final_data_bh['boko haram'].value_counts()

Boko Haram    30850
None          26101
Name: boko haram, dtype: int64

In [156]:
final_data_bh.to_csv('final_nst_acled_augmented_data_12.18.20.csv')